html {
  background-color: black;
}
#root {
  background-color: black;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.game {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help {
  color: #666;
  margin: 10px;
  text-align: center;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 280px;
  height: 270px;
  border: thin solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 270px;
  height: 250px;
  border: thin solid #ddd;
  padding: 10px;
}

.star {
  display: inline-block;
  margin: 9px 19px;
}

.star:after {
  content: "\2605";
  font-size: 45px;
  color: gold;
  background: repeating-linear-gradient(
    0.7deg,
    #0a0903,
    rgb(113, 117, 30) 0.2px,
    #c00b0b00 1px,
    #51090900 21px
  );
}

.number {
  text-align: center;
  color: #000;
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 18px;
  font-size: 15px;
}

.number:focus,
.number:active {
  outline: none;
  border: thin solid #ddd;
}

.timer {
  color: #666;
  margin-top: 3px;
  margin-left: 3px;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
}
